<nav>
    <ul>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/movies/ListMovieReviews">My Movie Reviews</a></li>
        <!-- <li><a href="#">TV Shows</a></li>
        <li><a href="#">Anime</a></li> -->

        <form id="form" action="/movies/search" method="get">
            <input type="text" name="query" placeholder="Search Movie" id="search" class="search"> 
        </form>

        <li style="float:right;"><a href="/logout">Logout</a></li>
    </ul>
</nav>