body {
    /* background-color: silver; */
    background-color: rgb(41, 165, 159);
    margin: 0px;
    /* color: white; */
}
/* navigation bar css */
h1 {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}
h2 {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align:center;
    background-color: rgb(12, 60, 151);
    /* background-color: rgb(240, 214, 234); */
    /* display:block; */ 
}
li {
    font-size: 2rem;
    display: inline-block;
    color: rgb(255, 255, 255); 
    text-align: center;
    /* padding: 14px 16px; */
    padding:22px;
    text-decoration: none;
    /* display: inline; */
}
li:hover {
    background-color:rgb(84, 179, 241);
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    display:block;
}
img {
    max-width: 70%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    display: inline-block;
    padding: 12px 20px;
}
input[type = text] {
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align: center;
}
input[type = submit] {
    width:6em;
    height: 3em;
    font-size: 1em;
}
::placeholder {
    color: rgb(93, 90, 90);
}
  /* css for displaying movie cards  */
.Movie-Card {
    /* background-color:cadetblue; */
    background-color: rgb(12, 60, 151);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    cursor: pointer;
}

/* a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  } */

.grid-container {
    display: grid;
    justify-content: space-evenly;
    margin-top: 30px;
	grid-template-columns: repeat(auto-fit, 50rem);
	grid-gap: 20px;
	/* justify-content: center; */
}
p {
    font-size: 2rem;
}
label {
    font-size: 2rem;
    /* margin-bottom: 30px; */
    padding: 10px;
}
select {
    /* width:200px; */
    width: 25%;
    /* height: 200px; */
    height: 25%;
    /* text-align: center; */
    margin: 20px;
    font-size: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
}
tr, th, td {
    font-size: 30px;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
  }

.RatingForm {
    background-color:rgb(74, 126, 238);
    color: white;
    padding: 30px;
    text-align:center;
}
.success {
    padding: 5px;
    background-color: green;
    color:aquamarine;
    font-size: 1.5rem;
}
.error {
    padding: 5px;
    background-color: red;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}