<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews</title>
</head>

<body>

<h1>Your Movie Reviews:</h1>

<table border='1'>
    <tr>
        <th>Rating ID</th>
        <th>Movie ID</th>
        <th>user ID</th>
        <th>Movie Rating</th>
    <tr>

    <tr>
        <% for(var i=0; i<result.length; i++){ %>

        <td><%= result[i]['rating_id']  %> </td>
        <td><%= result[i]['movie_id']  %> </td>
        <td><%= result[i]['user_id'] %></td>
        <td><%= result[i]['rating']%></td>
</tr>
        <% }%>
    
</table>

</body>
</html>