<% layout('layouts/boilerplate') %>
		<div class="modal-container">
			<div class="modal">
				<h1>Rate the Movie:</h1>

				<p>Movie: <%= result[0]['movie_name'] %></p>
				<p>Date Released: <%= result[0]['movie_year'] %></p>
				<p>Movie Director <%= result[0]['director'] %></p>

				<div>
				<img src="">	 
				</div>
			<form action="/movies/<%= result[0]['movie_id']%>/rateMovie" method="POST">
					<label for="rate">Choose your movie score:</label>
					<select size="4" name="movie_rating" id="mrate">
						<option value="10">10</option>
						<option value="9.5">9.5</option>
						<option value="9">9</option>
						<option value="8.5">8.5</option>
						<option value="8">8</option>
						<option value="7.5">7.5</option>
						<option value="7">7</option>
						<option value="6.5">6.5</option>
						<option value="6">6</option>
						<option value="5.5">5.5</option>
						<option value="5">5</option>
						<option value="4.5">4.5</option>
						<option value="4">4</option>
						<option value="3.5">3.5</option>
						<option value="3">3</option>
						<option value="2.5">2.5</option>
						<option value="2">2</option>
						<option value="1.5">1.5</option>
						<option value="1">1</option>
					</select>
					<br />
					<input type="submit" value="Submit" />
			</form>
			<button id="close">Close</button>
		</div>
	</div>
	<!-- End of Modal Container-->
